{
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier/@typescript-eslint", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint", "react", "prettier"],
  "settings": {
    "react": {
      "prama": "React",
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {}
}
